# Environment & API Keys
.env
.env.*
**/.env

# LangGraph Studio cache
.langgraph_api/

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
